.page-header{
height: 300px;
left: 140px;
top: 40px;
border-radius: 0;

  background: #FFE17F;
}
.main-nav{
font-family: 'Raleway';
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 21px;
letter-spacing: 0.2em;
text-transform: uppercase;
}
