@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  height: 100%;
}

body {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  background-color: #ffffff;
  min-width: 1440px;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

/*Стили для indexa*/

.navigation-item,
.catolog-filter-list,
.product-card-group,
.pagination,
.breadcrumbs-list {
  list-style: none;
}

.page-header {
  background-color: #FFE17F;
  color: #000000;
  width: 1160px;
  margin: 0 auto;
  padding-left: 60px;
  padding-right: 60px;
  margin-top: 40px;
}

.logo-header {
  margin-top: -20px;
}

.form-search {
  display: flex;

}

.link {
  letter-spacing: 0.2em;
}

.navigation-page {
  display: flex;
  justify-content: flex-end;
  margin: 0;

}

.main-index {
  flex-grow: 1;
}

.main-container {
  margin: 0 auto;
}

.product-container {
  width: 1160px;
  margin: 0 auto;
  display: flex;
}

.slogan-conteiner {
  width: 560px;
}

.navigation-link {
  font-family: "Raleway", sans-serif;
  line-height: 21px;
  font-weight: 800;
  color: inherit;
  text-decoration: none;
  text-transform: uppercase;
}

.navigation-list .navigation-link {
  font-family: Rubik;
  font-weight: 400;
  text-transform: none;
}

.slogan {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
}

.product-desc {
  font-size: 16px;
}

.product-value {
  font-size: 36px;
  line-height: 30px;
}

.gadjets {
  font-size: 18px;
  line-height: 24px;
}

.menu-gadjets {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  font-weight: 700;
  letter-spacing: -0.02em;
  line-height: 20px;
  gap: 40px;
  margin: 0;
  padding: 0;
}

navigation-item-gadjets {
  width: 160px;
}

.navigation-link-gadjets {
  color: #000000;
  text-decoration: none;
  position: relative;
  display: block;
  font-family: "Raleway", sans serif;
  line-height: 21px;
  font-weight: 800;
  color: inherit;
  width: 160px;
  margin-bottom: 70px;


}

.navigation-link-gadjets::before {
  content: "";
  display: block;
  width: 160px;
  height: 160px;
  background-color: #FFE17F;
  background-image: url("../images/main/svg/virtual-reality.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.monopods::before {
  content: "";
  display: block;
  width: 160px;
  height: 160px;
  background-color: #FFE17F;
  background-image: url("../images/main/svg/monopods.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.action::before {
  content: "";
  display: block;
  width: 160px;
  height: 160px;
  background-color: #FFE17F;
  background-image: url("../images/main/svg/action-camers.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.fitness::before {
  content: "";
  display: block;
  width: 160px;
  height: 160px;
  background-color: #FFE17F;
  background-image: url("../images/main/svg/fitness-bracelets.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.smart::before {
  content: "";
  display: block;
  width: 160px;
  height: 160px;
  background-color: #FFE17F;
  background-image: url("../images/main/svg/smart-watch.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.quadrocopters::before {
  content: "";
  display: block;
  width: 160px;
  height: 160px;
  background-color: #FFE17F;
  background-image: url("../images/main/svg/quadrocopters.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.container {
  width: 1160px;
  margin: 0 auto;
}

.service {
  background-color: #f0f0f0;
}

.service-container {
  width: 1160px;
  margin: 0 auto;
  display: flex;
}

.subtitle {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  text-transform: none;
}


.delivery {
  font-size: 20px;
  line-height: 23px;
  text-align: center;
}

.about-contacts-conteiner {
  width: 1160px;
  margin: 0 auto;
  display: flex;
}

.about {
  width: 520px;
}

.contacts {
  width: 532px;
  font-size: 16px;
  line-height: 20px;
}

.navigation-item.subject {
  font-weight: 700px;
  font-size: 24px;
  line-height: 30px;
  list-style: disc;
}

.subscription-container {
  background-color: #f0f0f0;
  height: 421px;
}

.subscription {
  width: 1160px;
  margin: 0 auto;
}

subtitle-subscription {
  display: inline;
  margin-top: 64px;
}

form-subscription {
  display: flex;
}

.submit {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  align-items: center;
  text-align: center
}

.page-footer {
  background-color: #444444;
  color: #ffffff;
  height: 321px;
  width: auto;
  padding: 0 140px 61px;
}

.footer-container {
  width: 1160px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 358px 444px 358px;
  grid-template-rows: 110px 170px;
}

.footer-contacts-logo {
  margin-top: 61px;
}

.footer-navigation {
  display: flex;
  justify-content: center;
  gap: 35px;
  padding: 0;
  grid-area: fn;
  margin-bottom: 62px;
  margin-top: 137px;

}

.address-text {
  display: block;
  height: 40px;
  font-size: 16px;
  line-height: 20px;
  margin: 0;
}


.footer-logo {
  margin-top: 61px;
  margin-bottom: 35px;
}

.socials {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.phone {
  color: inherit;
  display: block;
  margin-left: 183px;
  font-size: 16px;
  line-height: 20px;
  align-items: center;
  grid-area: p;
  margin-top: 140px;
  margin-bottom: 63px;
}

.htmlacademy-link {
  margin-left: 183px;
  margin-right: 0;
}

.telegram {
  color: #000000;
  text-decoration: none;
  position: relative;
  display: block;
  color: inherit;
  width: 40px;
}

.telegram::before {
  content: "";
  display: block;
  width: 40px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.3);
  background-image: url("../images/footer/telegram.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border-radius: 50%;
}

.youtube::before {
  content: "";
  display: block;
  width: 40px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.3);
  background-image: url("../images/footer/youtube.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border-radius: 50%;
}

.twitter::before {
  content: "";
  display: block;
  width: 40px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.3);
  background-image: url("../images/footer/twitter.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border-radius: 50%;
}


/* Стили для cataloga */

.product-card-filter {
  background-color: #f0f0f0;
}

.main-inner-container {
  background-color: #ffffff;
}

.product-card-group {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  margin: 0;
  padding: 70px 40px 78px;
}

.inner-header-title {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  text-transform: none;
}

.breadcrumbs-link {
  font-family: "Rubik";
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  color: #000000;
}

.breadcrumbs-list {
  display: flex;
  justify-content: flex-start;
  padding: 0;
}

.filter {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  margin: 0;
}

.catalog-filter-title {
  font-weight: 700;
  line-height: 30px;
}

.control {
  font-size: 16px;
  line-height: 20px;
}

.product-card-title {
  font-family: "Rubik";
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.02em;
}

.product-card-container {
  width: 840px;
  background-color: #ffffff;
}

.popular-container {
  width: 840px;
  background-color: #f0f0f0;
}

.product-card-price {
  font-family: "Rubik";
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

.load {
  background-color: #ffffff;
  border: solid 3px #E5E5E5;
  text-align: center;
  padding: 18px;
  padding-left: 40px;
  padding-right: 40px;
  margin-left: 40px;
  margin-right: 40px;
  font-size: 16px;
  line-height: 19px
}

.pagination-prev {
  font-family: "Rubik";
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

.pagination {
  display: flex;
}

/* Каталог-фильтр-карточки*/
.catalog-filter-container {
  width: 1160px;
  margin: 0 auto;
  display: flex;
}

.filter-container {
  width: 320px;
}
